/* Add CSS Styling */
.odd{ 
    background-color: rgba(222, 162, 160, 0.9);
    font-family: Veranda, "DejaVu Sans", sans-serif;
}
#two {
    color: #1c2cd6;
    font-size: 36px;
}
#four{
    background-color: #a9dc77;
    font-size: 24px;
    font-weight: bold;
}

.odd.three{
    font-size: 24px;
}